
.vf-global-header {
  border-bottom: none;
}

@media (max-width:520px) {
	.vf-global-header__inner {
		display: block
	}
}


.vf-global-header [class*=navigation] {
  // align-self: auto;
}

// .vf-global-header {
//   -ms-flex-align: center;
//   align-items: center;
//   background-color: #fff;
//   border-bottom: 1px solid #707372;
//   display: grid;
//   grid-column: 1/-1;
//   grid-template-columns: minmax(var(--page-grid-gap),auto) minmax(auto,76.5em) minmax(var(--page-grid-gap),auto);
//   height: auto;
//   padding: .5rem 0;
// }