<div class="vf-body" id="topAnchor">
  <header class="vf-header">
    <div class="vf-global-header">
      <div class="vf-global-header__inner">
        <a
           label="CV19-PORTAL" class="vf-logo__image">
          <img class="vf-logo__image" src="/assets/images/sars_cov2.png">
        </a>

        <!-- <nav class="vf-navigation vf-navigation--global vf-u-margin__top--xxl">
          <ul class="vf-navigation__list | vf-list--inline">
            <li class="vf-navigation__item">
              <a href="/about" class="vf-navigation__link">Link 1</a>
            </li>
            <li class="vf-navigation__item">
              <a href="/data-hubs" class="vf-navigation__link">Link 2</a>
            </li>
            <li class="vf-navigation__item">
                 <a href="/data-hubs" class="vf-navigation__link">Link 3</a>
            </li>
          </ul>
        </nav> -->
      </div>
    </div>
  </header>
</div>
