<!-- <div id="cv19-app-nav-container-top"></div> -->
<div id="cv19-app-nav-container" class="cv19-app-nav-container">
  <div class="vf-body">
    <section class="vf-grid cv19-app-nav vf-u-padding__top--sm vf-u-padding__bottom--sm">
      <div class="vf-component__container">
        <nav  class="vf-navigation vf-navigation--main">
          <ul class="vf-navigation__list | vf-list--inline">
            <li class="vf-navigation__item">
                <a label="Sequences" href="#" class="vf-navigation__link">Nav 1</a>
            </li>
            <li class="vf-navigation__item">
              <a label="Sequences" href="#" class="vf-navigation__link">Nav 2</a>
            </li>
            <!-- <li class="vf-navigation__item">
              <a routerLinkActive #rla3="routerLinkActive"
              [class.active]="rla3.isActive" label="Proteins" [routerLink]="['/proteins']" class="vf-navigation__link">Proteins</a>
            </li>
            <li class="vf-navigation__item">
               <a routerLinkActive #rla4="routerLinkActive"
               [class.app-nav-active]="rla4.isActive" label="Structures" [routerLink]="['/structures']" class="vf-navigation__link"> Structures </a>
            </li>
            <li class="vf-navigation__item">
                <a href="http://europepmc.org/search?query=%28%222019-nCoV%22%20OR%20%222019nCoV%22%20OR%20%22COVID-19%22%20OR%20%22SARS-CoV-2%22%20OR%20%28%22wuhan%22%20AND%20%22coronavirus%22%29%20OR%20%22Coronavirus%22%20OR%20%22Corona%20virus%22%20OR%20%22corona-virus%22%20OR%20%22corona%20viruses%22%20OR%20%22coronaviruses%22%20OR%20%22SARS-CoV%22%20OR%20%22Orthocoronavirinae%22%20OR%20%22MERS-CoV%22%20OR%20%22Severe%20Acute%20Respiratory%20Syndrome%22%20OR%20%22Middle%20East%20Respiratory%20Syndrome%22%20OR%20%28%22SARS%22%20AND%20%22virus%22%29%20OR%20%22soluble%20ACE2%22%20OR%20%28%22ACE2%22%20AND%20%22virus%22%29%20OR%20%28%22ARDS%22%20AND%20%22virus%22%29%20or%20%28%22angiotensin-converting%20enzyme%202%22%20AND%20%22virus%22%29%29" class="vf-navigation__link" target="_blank" > Literature </a>
            </li> -->
          </ul>
        </nav>
      </div>
    </section>
  </div>
</div>
