/* You can add global styles to this file, and also import other style files */

.progress-outer {
    margin: unset !important;
    width: 20rem !important;
}

{
    font-family: Calibri
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

img {
    max-width: 100%;
}

/* BUTTONS */
.vf-button--sm {
    font-size: 16px !important;
    font-weight: 700 !important;
    line-height: 1;
    padding: 8px !important;
}

.vf-button--outline {
    color: #3b6fb6 !important;
}

.vf-logo__image {
    height: 55px;
    margin: 0.5rem 0;
}
